@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Task";
}

<h2>Add a Task</h2>

<div>
    <form>
        <label asp-for="Task">Task:</label>
        <input asp-for="Task" /><br />

        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" /><br />

        <label asp-for="Quadrant">Quadrant:</label>
        <input asp-for="Quadrant" /><br />

        <label asp-for="Director">Director:</label>
        <input asp-for="Director" /><br />

        <label asp-for="Category">Category:</label>
        <select asp-for="Category">
            <option value=""></option>
            
        </select><br />

        <label asp-for="Completed">Completed:</label>
        <select asp-for="Completed">
            <option value=""></option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
    </form>
</div>