@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Task";
}

@model Group3_9Project.Models.TaskEntry

<h2>Add a Task</h2>
<br />

<!--Add a task form-->
<div>
    <form method="post">
        <label asp-for="Task">Task:</label>
        <input asp-for="Task" /><br />

        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" /><br />

        <label asp-for="Quadrant">Quadrant:</label>
        <input asp-for="Quadrant" /><br />

        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            
            @foreach (Category c in ViewBag.Category)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }

        </select><br />

        <label asp-for="Completed">Completed:</label>
        <select asp-for="Completed">
            
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <button type="submit">Submit Task</button>

        <!--Show Validation-->

        <div id="summary" asp-validation-summary="All"></div>
    </form>
</div>