@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Task Created.</h1>
<h3>Thank you for submitting this task. Return to the Quadrants to see more.</h3>