@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the <i>Steven Covey Fan Club</i>(SCFC)</h2>
    <center>
        <p>Us members of the SCPFC are happy to bring you this website- made to organize your tasks into one of Steven Covey's 4 quadrants: </p>
    </center>
</div>
<ul>
    <li>Quadrant I- Important & Urgent</li>
    <li>Quadrant II- Important & Not Urgent</li>
    <li>Quadrant III- Not Important & Urgent</li>
    <li>Quadrant IV- Not Important & Not Urgent</li>
</ul>
<div class="text-center">
    <p>Explore the Quadrants below!</p>
    <a asp-controller="Home" asp-action="Quadrant" class="btn btn-primary">Quadrant Page</a>
</div>
