@{
    ViewData["Title"] = "Quadrant";
}

<h1>This is the Quadrant View</h1>

<br />
<table class="table  table-striped table-hover table-bordered">
    <thead class="font-weight-bold">
        <tr>
            <td></td>
            <td>Urgent</td>
            <td>Not Urgent</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="font-weight-bold">Important</td>
            <td>Quadrant 1</td>
            <td>Quadrant 2</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Not Important</td>
            <td>Quadrant 3</td>
            <td>Quadrant 4</td>
        </tr>
        

    </tbody>
</table>
<br/>


<div class="containter border">
    <div class="row text-center">
        <div class="col">
            Steven Covey's Time Management Matrix
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            Urgent
        </div>
        <div class="col">
             Not Urgent
        </div>
    </div>

    <div class="row">
        <div class="col">Important</div>
        
    </div>
    <div class="row">
        <div class="col">Not Important</div>
    </div>
</div>
